@import "./colors";
@import "./sizes";
@import "../utilities/normalizer";

@mixin buttonElement($full_width){
    width: $full_width;
    height: 55px;;
    font-family: poppinsbold;
    border-radius: 5px;
}