@import "../utilities/colors";
@import "../utilities/mixin";

.register {
    background-color: $bg-color-purple;
    height: 1100px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
        text-align: center;
        color: $bg-color-white;
    }

    &__title2 {
        color: $bg-color-yellow;
    }

    &__subtitle {
        color: $bg-color-white;
        text-align: center;
        font-size: 10pt;
        margin-bottom: 50px;
    }

    &__method {
        &--email {
            @include buttonElement($full_width);
            background-color: $bg-color-white;     
            margin-top: 10px       
        }
        &--google {
            @include buttonElement($full_width);
            background-color: #4285F4;
            margin-top: 10px;
        }
    }
    
    &__img {
        &--img{
            max-width: 500px;
            margin-left: -350px;
            margin-top: 200px;
        }
    }
}
